email = {{ email }}
domains = {{ domains | join(', ') }}
rsa-key-size = 4096
noninteractive = True
keep = True
expand = True
agree-tos = True
pre-hook = systemctl stop nginx
post-hook = systemctl start nginx
authenticator = standalone
#installer = nginx
#preferred-challenges = tls-sni-01
